<br>
<div class="container col col-lg-6" id="divForm">
  
  <form >
    <div class="form-group">
      <br>
      <h3>Add a link </h3>
      <label>
        Title : 
      </label>
      <input type="text" class="form-control" name="title" #title>
    </div>
    <div class="form-group">
      <br>
      <label>
        Link : 
      </label>
      <input type="text" class="form-control" name="link" #link>
    </div>
    <button 
    type="button" 
    class="btn btn-success"
    (click)="addPost(title, link)">
    Submit link
  </button>
    <br><br>
  </form>
</div>

<app-posts [post]="post" [newPost]="newPost"> </app-posts>