<div class="container">
  <div>
    <h1> Students management app</h1>
  </div>
  
  <input 
      type="button" 
      value="Ajouter un étudiant" 
      class="btn btn-success"
      (click)="showAddForm()"
  />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Classe</th>
        <th scope="col">Editer</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of students; let i = index;">
        <th scope="row">{{i + 1}}</th>
        <td>{{s.nom}}</td>
        <td>{{s.prenom}}</td>
        <td>{{s.classe}}</td>
        <td><input type="button"
            class="btn btn-primary"
            value="Editer"
            (click)="showUpdateForm(s, i)"/>
        </td>
        <td>
          <input type="button" value="Supprimer" class="btn btn-danger"  (click)="deleteStudent(s, i)"/>
        </td>
      </tr>
    </tbody>
    </table>

    <app-update *ngIf="mode == 'update'" [student]="activeStudent" (studentEvent)="updateStudent($event)"></app-update>
    <app-add *ngIf="mode == 'add'" (studentEvent)="addStudent($event)"></app-add>
  </div>
