

<br><br><br>
<div class="col col-lg-8">
    <h2> All Students </h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th *ngFor="let element of headElements" scope="col">
                    {{ element }}
                </th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of students; let i = index">
            <td> {{ student.firstName }} </td>
            <td> {{ student.lastName }} </td>
            <td> {{ student.class }} </td>
            <td><button type="button" class="btn btn-primary" id="{{i}}">Update</button></td>
        </tr>
        </tbody>
        </table>
    </div>


    <div class="card m-3">
        
        <h5 class="card-header"> Update selected student </h5>
        <div class="card-body">
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div >
                    <label> First Name</label>
                    <input type="text" formControlName="firstName" class="form-control" />
                </div>
            </div>
            <div class="form-row">
                <div >
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" />
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label>Class</label>
                    <input type="text" formControlName="lastName" class="form-control" />
                </div>
            </div>
  
            <div class="text-center">
                <button type="button" class="btn btn-success"> Update </button>
            </div>
            </form>
        </div>
    </div>
  
