<div class="p-fluid p-grid">
    <div class="p-col-10 p-offset-2">
        <h1 id="h1Events">Events Form </h1><br>
            <div class="p-field p-grid">
                <div class="p-field p-col-3">
                    <label for="inputtitle">  <b>Title</b> </label><br>
                    <input type="text" id="inputtitle" pInputText [(ngModel)]="title"> 
                </div>
                <div class="p-field p-col-3">
                    <label for="icon"><b>Start Date</b></label>
                    <p-calendar [(ngModel)]="startDate" [showIcon]="true" inputId="icon"></p-calendar>
                </div>
                <div class="p-field p-col-3">
                    <label for="icon"><b>End Date</b></label>
                    <p-calendar [(ngModel)]="endDate" [showIcon]="true" inputId="icon"></p-calendar>
                </div>
            </div>
    
            <div class="p-fluid p-grid">
                <div class="p-field p-col-3">
                    <label for="inputowner">  <b>Owner</b> </label><br>
                    <input type="text" id="inputowner" pInputText [(ngModel)]="owner">
                </div>
                <div class="p-field p-col-6">
                    <label for="textarea"><b>Description</b></label><br>
                    <textarea inputId="textarea" rows="3" cols="30" [(ngModel)]="description" pInputTextarea></textarea>
                </div>
            </div>
        <div class="p-col-2">
            <button pButton pRipple type="button"
            label="Add" (click)="addEvent()"
            class="p-button-rounded p-button-success"></button>  
        </div>
    </div>
</div>
