
<br>
<div class="container">
    <div class="text-center">
        <h2> Student management app</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th *ngFor="let element of elements"> 
                        {{ element }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students; let i = index">
                    <th>
                        {{ i + 1 }}
                    </th>
                    <td>
                        {{ student.firstName }}
                    </td>
                    <td>
                        {{ student.lastName }}
                    </td>
                    <td>
                        {{ student.classe }}
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="showUpdate(student, i)">update</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="studentDelete(i)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-success" (click)="showAdd()">add </button>
    <br><br>
    <app-update-student *ngIf="mode == 'update'" [student]="activeStudent" (studentEvent)="updateStudent($event)"></app-update-student>
    <app-add-student *ngIf="mode == 'add'" (eventAdd)="addStudent($event)"></app-add-student>
</div>
